
-# = image_tag @project.cover.url, class: %w[ui medium left floated image]
-# %p
-#   %b Название:
-#   = @project.title
-# %p
-#   %b Жанры:
-#   123123 
-# %p
-#   %b Описание:
-#   = @project.description

-# %h1.ui.huge.header Список глав
-# .ui.list
-#   - @project.chapters.group_by(&:vol).reverse_each do |volume, chapters|
-#     .item
-#       .content
-#         .header= "Том №#{volume}"
-#       .list
-#         - chapters.each do |chapter|
-#           .item
-#             .content
-#               .header= chapter.title

-# .row
-#   %h1.ui.huge.header= @project.title 
   
.ui.grid
  .row
    .two.column.doubling.ui.grid
      .seven.wide.column
        = image_tag @project.cover.url, class: %w[ui fluid image], height: 200, width: 100
      .eight.wide.column
        .row
          %h3.ui.header Название(другие названия)
        .row
          = @project.title
        .row
          %h3.ui.header Описание
        .row
          = @project.description
        .row
          %h3.ui.header Жанры
        .row
          Жанры
  .row
    %h3.ui.header Список глав
  .row
    .one.column.doubling.ui.grid
      .column
        - @project.chapters.group_by(&:vol).reverse_each do |volume, chapters|
          .row.volume_row
            %h3.ui.header= "Том №#{volume}"
          .row.chapters_row
            .ui.small.selection.list{style: 'width: 100%;'}
              - chapters.sort_by(&:num).reverse_each do |chapter|
                .item
                  .right.floated.content
                    .description= link_to 'Скачать', chapter.link
                  .content
                    .description
                      = "Глава №#{chapter.num}. '#{chapter.title}' "

    -# %h3.ui.header Список глав
    -# %table.ui.single.line.table
    -#   %thead
    -#     %tr
    -#       %th.one.wide Том
    -#       %th.one.wide Номер
    -#       %th.seven.wide Название
    -#       %th.two.wide Ссылка
    -#   %tbody
    -#     = render partial: 'client/chapters/chapter', collection: @project.chapters.select{ |c| c.id.present? }, as: :chapter
