.ui.message
  .header Важно
  %p Для проекта обязательно должны быть указаны: обложка.

= simple_form_for [:admin, project], html: { class: 'ui form', fluid: true } do |f|
  .field
    = f.error :base
  .field
    = f.input :title, label: 'Название(англ)'
  .field
    = f.input :description, label: 'Описание'
  .field
    = f.input :cover, as: :file, label: 'Обложка'
    = f.input :cover_cache, as: :hidden
  .field
    = f.button :submit, class: 'ui button'