.row
  %h1.ui.huge.header= @project.title
  %p
    =link_to 'Показать на сайте', @project
    |
    =link_to 'Изменить', edit_admin_project_path(@project)
    |
    =link_to 'Удалить', [:admin, @project], method: :delete, data: { confirm: 'Are you sure?' }
  .ui.hidden.divider   
   
.ui.grid
  .row
    .seven.wide.column
      = image_tag @project.cover.url, class: %w[ui fluid image], height: 200, width: 100
    .seven.wide.column
      .row
        %h3.ui.header Название(другие названия)
      .row
        = @project.title
      .row
        %h3.ui.header Описание
      .row
        = @project.description
      .row
        %h3.ui.header Жанры
      .row
        Жанры
      .row
        %h3.ui.header Превью для новостей
      .row
        = image_tag @project.preview.url, class: %w[ui fluid image]
  .row
    .divider.hidden
    %h3.ui.header Список глав
    %table.ui.single.line.table
      %thead
        %tr
          %th.one.wide Том
          %th.one.wide Номер
          %th.six.wide Название
          %th.two.wide Ссылка
          %th.two.wide Операции
      %tbody
        = render partial: 'admin/chapters/chapter', collection: @project.chapters.select{ |c| c.id.present? }, as: :chapter
  .row
    %h3.ui.header Добавить главу
  .row
    = render 'admin/chapters/form', chapter: @project.chapters.build