= simple_form_for project do |f|
  .ui.form
    .field
      = f.error :base
    .field
      = f.input :title
    .field
      = f.input :description
    .field
      = f.input :preview, as: :file
      = f.input :preview_cache, as: :hidden
    .field
      = f.button :submit, class: 'ui button'