= simple_form_for post do |f|
  .ui.form
    .field
      = f.error :base
    .field
      = f.input :title
    .field
      = f.input :text
    .field
      = f.input :post_type, collection: Post.post_types.keys
    .field
      = f.input :project_id, collection: Project.pluck(:title, :id)
    .field
      = f.button :submit, class: "ui button"
