%h2.ui.sub.header= post.title
%span
  March 6, 2018 by
  %a.ui.image.label
    = image_tag "http://dearmemories.ucoz.ru/avatar/54/229149.jpg"
    Пользователь
  %a.ui.image.label= post_type(@post.post_type)
%p
  %br
  - if @post.release_item?
    = image_tag @post.project.preview.url, class: %w[ui fluid image]
  = raw @markdown.render(post.text)