.row
  %h1.ui.huge.header Список новостей
  = link_to 'Добавить пользователя', ''
  %table.ui.single.line.table
    %thead
      %tr
        %th.one.wide id
        %th.eight.wide Почта
        %th.one.wide Роль
        %th.two.wide Операции
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.email
          %td= user.role
          %td
            =link_to 'Юзер!', user_admin_user_path(user), method: :post, data: { confirm: 'Are you sure?' }
            |
            =link_to 'Оператор!', operator_admin_user_path(user), method: :post, data: { confirm: 'Are you sure?' }
            |
            =link_to 'Админ!', admin_admin_user_path(user), method: :post, data: { confirm: 'Are you sure?' }
            |
            = link_to 'Профиль', admin_user_path(user) 
            |
            = link_to 'Изменить', ''
            | 
            = link_to 'Бан', [:admin, user], method: :ban, data: { confirm: 'Are you sure?' } 
  = paginate @users