%tr
  %td= chapter.vol
  %td= chapter.num
  %td= chapter.title
  %td= link_to 'Скачать', chapter.link
  %td
    = link_to 'Создать релиз', ''
    |
    = link_to 'Изменить', edit_admin_project_chapter_path(@project, chapter)
    |
    = link_to 'Удалить', admin_project_chapter_path(@project, chapter), method: :delete, data: { confirm: 'Are you sure?' }