!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI.", :name => "description"}/
    %meta{:content => "Semantic-UI, Theme, Design, Template", :name => "keywords"}/
    %meta{:content => "PPType", :name => "author"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    %title Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI.
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.inverted.huge.borderless.fixed.fluid.menu
      / %a.header.item 
      = link_to 'DearMemories', admin_root_path, class: 'header item'
      .right.menu
        .item
          .ui.small.input
            %input{:placeholder => "Search..."}/
        = link_to 'На сайт', root_path, class: 'item'
        %a.item Settings
        %a.item Profile
        %a.item Help
    .ui.grid
      .row
        #sidebar.column
          .ui.secondary.vertical.fluid.menu
            %a= link_to 'Релизы', admin_releases_path, class: current_item?('admin/releases')
            %a= link_to 'Новости', admin_posts_path, class: current_item?('admin/posts')
            %a= link_to 'Проекты', admin_projects_path, class: current_item?('admin/projects')
            .ui.hidden.divider
        #content.column
          .ui.grid
            .row
              %h1.ui.huge.header
                Панель администратора
            .ui.divider
            .row
              - if flash[:notice]
                .notice
                  = flash[:notice]
            .row
              = yield
    :css
      body {
        display: relative;
      }
      
      #sidebar {
        position: fixed;
        top: 51.8px;
        left: 0;
        bottom: 0;
        width: 18%;
        background-color: #f5f5f5;
        padding: 0px;
      }
      #sidebar .ui.menu {
        margin: 2em 0 0;
        font-size: 16px;
      }
      #sidebar .ui.menu > a.item {
        color: #337ab7;
        border-radius: 0 !important;
      }
      #sidebar .ui.menu > a.item.active {
        background-color: #337ab7;
        color: white;
        border: none !important;
      }
      #sidebar .ui.menu > a.item:hover {
        background-color: #4f93ce;
        color: white;
      }
      
      #content {
        margin-left: 19%;
        width: 81%;
        margin-top: 3em;
        padding-left: 3em;
        float: left;
      }
      #content > .ui.grid {
        padding-right: 4em;
        padding-bottom: 3em;
      }
      #content h1 {
        font-size: 36px;
      }
      #content .ui.divider:not(.hidden) {
        margin: 0;
      }
      #content table.ui.table {
        border: none;
      }
      #content table.ui.table thead th {
        border-bottom: 2px solid #eee !important;
      }